<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>84775691903-nl8pu4kssi2poksa3nlungtbg2jj852r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.84775691903-nl8pu4kssi2poksa3nlungtbg2jj852r</string>
	<key>API_KEY</key>
	<string>AIzaSyAXqxGnmc0lC-lsX8o_hPYUvzqFKwdCJPc</string>
	<key>GCM_SENDER_ID</key>
	<string>84775691903</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rngirisim.SosyalMedya</string>
	<key>PROJECT_ID</key>
	<string>sosyalmedya-eebd2</string>
	<key>STORAGE_BUCKET</key>
	<string>sosyalmedya-eebd2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:84775691903:ios:56fb7cedcb2b4075</string>
	<key>DATABASE_URL</key>
	<string>https://sosyalmedya-eebd2.firebaseio.com</string>
</dict>
</plist>